@import "tailwindcss";

@theme {
  --color-primary: #ba5656; /* Brand Red */
  --color-secondary: #ffffff; /* White */
  --color-accent: #007bff; /* Electric Blue */
  --font-sans: var(--font-inter), sans-serif;
}

html,
body {
  background: var(--color-secondary);
  color: #2e2e2e;
  color-scheme: light;
  font-family: var(--font-sans);
}
